<div class="container">
    
        
            <div>
                <h3>Create New Todo</h3>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                
                <div class="form-group">
                    <label for="taskName">Task Name</label>
                    <input type="text" class="form-control" name="taskName" [(ngModel)]="todo.taskName" #taskName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && taskName.invalid }"
                        required />
                    <div *ngIf="f.submitted && taskName.invalid" class="invalid-feedback">
                        <div *ngIf="taskName.errors.required">Task Name is required</div>
                    </div>
                </div>
                
                <br>
                
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" [(ngModel)]="todo.description" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"
                        required />
                    <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                        <div *ngIf="description.errors.required">Description is required</div>
                    </div>
                </div>
                
                <br>
                <div class="form-group">
                    <label for="description">Status</label>
                    <select [(ngModel)]="todo.status" name="role" #status="ngModel" required>
                        <option *ngFor="let status of todoStatus" [value]="status.value">
                            {{status.viewValue}}
                        </option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <button mat-raised-button mat-button color="primary-red" (click)="goBack()">Back</button>
                    &nbsp;&nbsp;
                    <button mat-raised-button mat-button color="primary-red">Save</button>
                </div>
            </form>
        
    
</div>