<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>To Do List</span>
    </h1>
    <button mat-raised-button mat-button color="primary-red" (click)="newTask()">New Task</button>
       
    <table class="table">
      <tr>
        <td>
          Task Name
        </td>
        <td>
          Description
        </td>
        
        <td>
          Status
        </td>
        <td>
          Created Date
        </td>
        <td>
          Action
        </td>
      </tr>

      <tr *ngFor="let task of todos">
        <td>
          {{task.taskName}}
        </td>
        <td>
          {{task.description}}
        </td>        
        <td>
          {{task.status}}
        </td>
        <td>
          {{task.createdAt | date: 'dd/MM/yyyy'}}
        </td>
        <td>
            <span (click)="deleteTask(task.id)">Delete</span>
        </td>
      </tr>
    </table>
  </div>
</div>
